<!doctype html>
<html lang ="de">

<head>
  <meta charset = "utf-8">
  <title>Newspaper App</title>
</head>

<body>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>